a:link {
    color:seagreen;
}

a:visited {
    color:slateblue;
}

a:active {
    color: #f00;
}

#text {
    font-size: 20px;
    line-height: 1.3;
}

.block-right {
    display:inline-block;
    line-height: 1.3;
    padding: 1vw;
    width: 80%;
    float: right;
}

.block-left {
    display:inline-block;
    width: 15%;
    height: 57%;
    padding: 1em;
    background-color: wheat;
}

h1 {
    color: rgb(68, 32, 4);
    font-size: 1.8em;
}

h2 {
    color: #161e86;
    font-size: 1.5em;    
}

h1, h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    border-bottom: 1px solid gray;
    margin-top: 0;
    margin-bottom: 15px;
}


p {
    display: block;
    text-indent: 1em;
    margin: 0;
}

p::selection {
    color: #ff0;
    background-color: black;
}

html, body {
    height: 100%;
    margin:0;
    width: 100%;
}

td {
    padding: 2px;
}

body {
    background-color: thistle;
}