@import url("./fonts/stylesheet.css");
:root {
    --background-color: #181818;
    --text-color: #ffffff;
    --black-text: #000000;
    --second-text: #5C5C5C;
    --primary-color: #4452FE;
    --gray: #343434;
}


/* img {
    max-width: 100%;
} */

.w {
    max-width: 100%;
    max-height: 100%;
}

img.w_cut {
    display: none;
}

.containter {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.page {
    width: 100%;
    padding: 50px 0px 50px 0px;
}

.page1 {
    height: 1675px;
}

.page2 {
    height: 1112px;
}

.page3 {
    height: 932px;
}

.page4 {
    height: 1016px;
}

.partners {
    height: 485px;
}

.tests {
    height: 884px;
}

.CTA {
    height: 530px;
}

.footer {
    height: 437px;
}

.paragraphe {
    margin-top: 30px;
    color: var(--text-color);
    font-weight: 400;
}

.foot {
    display: flex;
    height: 224px;
    margin: 107px 274px;
    flex-direction: row;
}

.foot-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.foot-lists {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.foot-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.foot-rows {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.foot-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 80px 94px;
    margin-right: 0;
}

.column-item {
    padding: 19px 0;
}

.text-content {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin-left: 13px;
}

.icon {
    padding: 0 13px;
}

.client {
    display: flex;
}

.comment-containers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 40px;
}

.vertical-containers {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.brands {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.brand {
    margin: 17px;
    height: 60px;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 710px;
}

.gallery-item-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.gallery-item {
    border-radius: 10px;
    margin: 0 17px;
}

.card-container {
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-color);
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 10px;
    color: #0E0E0E;
    height: 626px;
    width: 30%;
    margin: 0px 17px;
}

.card-black {
    background-color: var(--background-color);
    width: 430px;
    height: auto;
    align-items: unset;
    padding: 40px;
    margin: 10px 12px;
}

.card-new {
    flex-direction: row;
    background-color: var(--gray);
    width: 1220px;
    height: 370px;
    align-items: unset;
    margin: 80px 180px;
    border-radius: 33px;
}

.card-item {
    color: var(--text-color);
    width: 50%;
}

.right {
    right: 0;
    border-radius: 0px 0px 33px 0px;
}

.screens {
    display: flex;
    justify-content: center;
    /* margin: 0px 1%; */
    height: 994px;
}

.gradient {
    overflow: hidden;
    position: relative;
    line-height: 0;
    width: 100%;
}

.gradient:after {
    content: "";
    display: block;
    width: 100%;
    height: 55%;
    position: absolute;
    top: 44%;
    left: 0;
    background: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #0E0E0E 67%);
    opacity: 0.8;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 394px;
    margin-top: 60px;
}

.try-cont {
    display: flex;
    margin: 35px 0;
    width: 100%;
    height: 65px;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.try-but {
    font-size: 17px;
    line-height: 25px;
    width: 136px;
    font-family: Graphik;
    font-style: normal;
    border: 1px solid var(--text-color);
    padding: 20px 38px;
    flex-wrap: wrap;
    color: var(--text-color);
    background-color: var(--background-color);
    font-weight: 500;
    white-space: nowrap;
    font-style: normal;
    margin-right: 0%;
    margin-left: 2%;
    overflow: hidden;
}

.try-but_centered {
    display: flex;
    justify-content: center;
}

.but-text {
    display: block;
    overflow: hidden;
    width: 66px;
}

.try-but_color {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    margin-right: 2%;
    margin-left: 0%;
}

.text {
    align-self: center;
    text-align: center;
    font-weight: 400;
    font-size: 125%;
    line-height: 125%;
    margin: 0px 31% 5px 31%;
    padding: 10px 0px;
    overflow: hidden;
}

.paragraphe-no-margin {
    margin: 0;
    padding: 10px 0;
}

.text-second {
    color: var(--second-text);
}

.text-huge {
    font-size: 80px;
    line-height: 88px;
    margin-left: 27%;
    margin-right: 27%;
    font-weight: 500;
    overflow: hidden;
}

.text-huge_shrink {
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
}

.bn {
    font-size: 100%;
    line-height: 24px;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0px 10px;
    height: 25px;
    font-family: Graphik;
    cursor: pointer;
    border: none;
    letter-spacing: 0.2px;
    font-weight: 500;
}

.login {
    font-size: 107%;
    border: 1px solid var(--text-color);
    padding: 10px 56px;
    height: 50px;
}


/* 
.menuWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding-bottom: 34px;
    margin-bottom: 46px;
} */

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    margin: 0px 15% 34px 15%;
    font-size: 100%;
    width: 70%;
}

.menu-item {
    text-align: center;
    height: 50;
    font-size: 100%;
}

.menu-icon {
    display: none;
}

.menu-item_left {
    margin: 0 13% 0 0;
}

.menu-item_right {
    margin: 0 0 0 13%;
}

.menu-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 36%;
}

.menu-item-container-item {
    height: 25px;
    /* padding: 0 25px 0 25px; */
}

.menu-item-container-item_left {
    /* padding: 0 25px 0 0; */
}

.menu-item-container-item_right {
    /* padding: 0 0 0 25px; */
}

.frame {
    margin: 80px 16% 0px 16%;
    display: flex;
    align-items: center;
    height: 760px;
}

.frame-images {
    position: relative;
    width: 70%;
    height: 759px;
}

.im-centered {
    position: relative;
    margin: 0px 4%;
    top: 0;
    left: 0;
    z-index: 1;
}

.im-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.text-item {
    margin: 13px 20px;
}

.left-text {
    align-self: left;
    font-weight: 400;
    font-size: 125%;
    line-height: 125%;
    margin: 0px 31% 5px 31%;
    padding: 10px 0px;
    overflow: hidden;
}

.headline {
    font-size: 125%;
    line-height: 125%;
    letter-spacing: 0.1px;
}

.content {
    font-size: 100%;
    font-weight: 400;
    line-height: 100%;
}

body {
    background-color: var(--background-color);
    margin: 0;
    font-style: normal;
    font-family: Graphik;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--text-color);
}

@media screen and (max-width: 1100px) {
    body {
        font-size: 12px;
    }
    .page1 {
        height: 1235px;
    }
    .text-huge {
        font-size: 62px;
        line-height: 72px;
    }
}

@media screen and (max-width: 900px) {
    .menu {
        display: flex;
        height: 110px;
        margin: 0px 5% 57px 5%;
        align-self: center;
        width: 90%;
    }
    .menu-item {
        text-align: center;
        height: 50;
    }
    .menu-item_left {
        padding: 0 0 0 0;
        margin: 0px 12% 0px 0px;
    }
    .menu-item_right {
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 12%;
    }
    .menu-icon {
        display: block;
        width: 44px;
        height: 27px;
        padding-left: 27px;
    }
    .login {
        font-size: 17px;
        border: 1px solid var(--text-color);
        padding: 10px 40px;
        height: 50px;
    }
    .menu-item-container {
        display: none;
    }
    .menu-item-container-item {
        display: none;
    }
    .menu-item-container-item_left {
        display: none;
    }
    .menu-item-container-item_right {
        display: none;
    }
    .text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 354px;
    }
    .text {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin: 0px 15% 0px 15%;
        padding: 10px;
    }
    .text-huge {
        margin-left: 23%;
        margin-right: 23%;
        font-weight: 400;
        font-size: 52px;
        line-height: 62px;
    }
    .try-cont {
        flex-flow: column;
        height: auto;
        width: auto;
        margin: 57px 37%;
    }
    .try-but {
        margin: 8% 0;
    }
    img.w {
        display: none;
    }
    img.w_cut {
        display: block;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .gradient {
        width: 100%;
    }
    .gradient::after {
        content: "";
        display: block;
        width: 100%;
        height: 90%;
        position: absolute;
        top: 30%;
        left: 0;
        background: transparent;
        background-image: linear-gradient(rgba(30, 30, 30, 0) 0%, #0E0E0E 65%);
    }
    .screens {
        width: 100%;
        margin: 0;
        height: 539px;
    }
}

@media screen and (max-width: 520px) {
    .menu-item_left {
        padding: 0 0 0 0;
        margin: 0px 0 0px 0px;
    }
    .menu-item_right {
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 0;
    }
    img {
        max-width: 100%;
    }
}